.section__block-1 {
  margin-bottom: 1rem;
}
.section__block-2 {
  margin-bottom: 2rem;
}

.section__block-4 {
  margin-bottom: 4rem;
}

.section__block-5 {
  margin-bottom: 5rem;
}
.section__block-Y-5 {
  margin: 5rem 0;
}

.section__block-14 {
  margin-bottom: 14rem;
}

.img--Column {
  position: relative;
  transition: all 400ms;
}

.img--Column:hover {
  filter: blur(1px) brightness(90%);
}

.event-details {
  height: 300px;
  width: 300px;
  background-color: #ffd072;
}
