.section__block-1 {
  margin-bottom: 1rem;
}
.section__block-2 {
  margin-bottom: 2rem;
}

.section__block-4 {
  margin-bottom: 4rem;
}

.section__block-5 {
  margin-bottom: 5rem;
}
.section__block-Y-5 {
  margin: 5rem 0;
}

.section__block-14 {
  margin-bottom: 14rem;
}

.heart {
  color: #aa182b;
  position: absolute;
}

@media only screen and (max-width: 900px) {
  .heart {
    /* left: 20rem; */
    transform: scale(1.5);
  }
  .img--Column {
    transition: all 400ms;
  }

  .img--Column:hover {
    filter: blur(4px) brightness(90%);
  }
}

.event-details {
  height: 300px;
  width: 300px;
  background-color: #ffd072;
}

.carousel {
  padding-top: 8px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin: auto;
  object-fit: contain;
  height: 308px;
}
.carousel > .carousel > .control-arrow.control-next,
.carousel > .carousel > .control-arrow.control-prev {
  background-color: rgba(128, 128, 128, 0.412) !important;
}

.review-card {
  position: relative;
  bottom: 500px;
}

.tags-list {
  margin-bottom: 50px;
}

.tags-list li {
  display: inline;
  background-color: #aa182b;
  border-radius: 20%;
  padding: 10px;
  margin: 20px;
}

.tags-list li a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .get-tix-btn {
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .event-text {
    position: static;
  }
}
